<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <!-- My CSS -->
    <link rel="stylesheet" href="navbar.css" />
    <title>Acadestei | Meet</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <!-- Kanit Font-->
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&dislay=swap"
      rel="stylesheet"
    />

    <!-- Roboto Font-->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow sm">
      <div class="container">
        <a
          class="navbar-brand"
          href="/"
          style="
            font-size: 72px;
            font-weight: bolder;
            font-family: 'Kanit';
            color: #180e43;
          "
          >ACADE<em>STEI</em></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="/"
                style="font-size: 24px; font-family: 'Roboto'"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/course"
                style="font-size: 24px; font-family: 'Roboto'"
                >Courses</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                href="/meet"
                style="font-size: 24px; font-family: 'Roboto'"
                >Rooms</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#aboutus"
                style="font-size: 24px; font-family: 'Roboto'; color: #bc5064"
                >About us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar-->

    <!-- Jumbotron -->
    <!-- Banner atas -->
    <br /><br />
    <div class="container">
      <div class="row" style="margin: 0px">
        <div class="col-6">
          <h1
            class="display-4"
            style="
              font-weight: bolder;
              font-family: 'Kanit';
              color: #180e43;
              font-size: 64px;
              margin-bottom: 0px;
            "
          >
            BELAJAR <em>BARENG</em>
          </h1>
          <h1
            class="display-4"
            style="
              font-weight: bolder;
              font-family: 'Kanit';
              color: #180e43;
              font-size: 64px;
            "
          >
            KUY!
          </h1>
          <p
            class="lead"
            style="font-family: 'Trebuchet MS'; text-align: justify"
          >
            Kami membantu kalian dengan menyediakan beragam fitur pembelajaran
            khususnya untuk TPB STEI! Kami berharap kalian bisa memanfaatkannya
            dengan baik agar dapat lulus TPB dengan hasil yang maksimal!
          </p>
          <button
            class="tombolbuat"
            onclick="document.getElementById('addMeet').style.display='block'"
          >
            Buat Ruangan
          </button>
          <div id="addMeet" class="w3-modal">
            <div
              class="w3-modal-content w3-animate-top w3-card-4"
              style="border-radius: 20px"
            >
              <header
                class="w3-container"
                style="background-color: #bc5064; border-top-left-radius: 20px"
              >
                <span
                  onclick="document.getElementById('addMeet').style.display='none'"
                  class="btn w3-display-topright"
                  id="exitButton"
                  >&times;</span
                >
                <h2>Buat meet baru</h2>
              </header>
              <div class="w3-container p-4">
                <div class="form-group mb-2">
                  <label for="judulMeet">Judul Meet</label>
                  <input
                    type="text"
                    class="form-control"
                    id="judulMeet"
                    placeholder="Masukkan judul meet"
                  />
                  <small id="judulHelp" class="form-text text-muted"
                    >Pakai judul yang catchy. Ex:
                    <em>ngedaspro sampe mati</em></small
                  >
                </div>
                <div class="form-group mb-2">
                  <label for="matkulMeet">Matkul Meet</label>
                  <select class="form-control" id="matkulMeet">
                    <% matkulForDropdown.forEach(matkuld => { %>
                    <option><%= matkuld %></option>
                    <% }) %>
                    <option>Ngobrol aja</option>
                  </select>
                  <small id="judulHelp" class="form-text text-muted"
                    >Masukin Mata Kuliah</small
                  >
                </div>
                <div class="form-group mb-2">
                  <label for="platformMeet">Platform Meet</label>
                  <select class="form-control" id="platformMeet">
                    <option>Google Meet</option>
                    <option>Zoom</option>
                    <option>Discord</option>
                    <option class="text-muted">Others</option>
                  </select>
                  <small id="judulHelp" class="form-text text-muted"
                    >Masukin platform yang dipakai</small
                  >
                </div>
                <div class="form-group mb-2">
                  <label for="linkMeet">Link Meet</label>
                  <input
                    type="text"
                    class="form-control"
                    id="linkMeet"
                    placeholder="Masukkan link meet"
                  />
                  <small id="judulHelp" class="form-text text-muted"
                    >Masukin link meet</small
                  >
                </div>
                <button class="btn" id="submit" style="color: white; background-color: #bc5064;"> Tambah Meet </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <img
            src="img/cewek.jpg"
            alt="home"
            width="580px"
            height="550px"
            style="margin-left: 10px"
          />
        </div>
      </div>
    </div>
    <!-- Akhir Banner atar-->

    <!-- Coba wave -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#180e43"
        fill-opacity="1"
        d="M0,96L60,112C120,128,240,160,360,186.7C480,213,600,235,720,224C840,213,960,171,1080,154.7C1200,139,1320,149,1380,154.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
      ></path>
    </svg>

    <!-- Akhir Jumbotron -->

    <!-- Meets -->

    <div style="background-color: #180e43; margin-bottom: 0px;">
      <% meets.forEach((meet, i) => { %>
        <% if(i===(meet.length)){%>
          <div class="row d-flex justify-content-center" >
          <%}else{%>
            <div class="row d-flex justify-content-center" style="margin-bottom: 9vw;">
            <%}; %> 
        <% meet.forEach(mt => {%>
        <div class="col d-flex justify-content-center ">
          <div class="container-meet">
            <div class="lingkaran">
              <img />
            </div>
            <div class="box">
              <div>
                <div class="matkulmeet"><%= mt.matkul %></div>
                <div class="judulmeet"><%= mt.judul %></div>
                <div class="jammeet"><%= mt.jam %></div>
              </div>
              <button type="button" class="button-meet" >
                <a href= "<%=mt.link%>" style="text-decoration: none;" target="_blank">
                  Gabung!
                </a> 
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <% }) %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="white" fill-opacity="1" d="M0,128L48,128C96,128,192,128,288,128C384,128,480,128,576,149.3C672,171,768,213,864,224C960,235,1056,213,1152,186.7C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    </div>

    

    <!-- ABout Us-->
<section id="aboutus">
  <div class="container" >
    <div class="row text-center">
      <div class="col">
        <h2 style="color: #180e43;">About <em>Us</em></h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4" style="font-family: 'Roboto';">
        <p>ACADESTEI adalah sebuah platform website yang mengintegrasikan materi-materi perkuliahan selama TPB STEI. Website ini adalah salah satu bentuk implementasi dari rangkaian kegiatan SPARTA HMIF 2020.</p>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>
<!-- Akhir About Us-->
<br><br><br>

<!-- Contact Us-->
<section>
  <div class="container" style="font-family: 'Roboto';">
    <div class="row text-center mb-3">
      <div class="col">
        <h2 style="color: #180e43;">Contact <em>Us</em></h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="mb-3">
            <label for="name class="form-label">Nama Lengkap</label>
            <input type="text" class="form-control" id="name aria-describedby="name>
          
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="email">
          </div>
          <div class="mb-3">
            <label for="pesan" class="form-label">Pesan</label>
            <textarea class="form-control" id="pesan" rows="3"></textarea>
          </div>
          <button type="submit" class="btn text-white" style="font-weight : bold; background-color: #180e43;">Kirim</button>
        </form> 
      </div>
    </div>
  </div>
</section>

<!-- Footer -->

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#180e43" fill-opacity="1" d="M0,160L40,181.3C80,203,
  160,245,240,250.7C320,256,400,224,480,218.7C560,213,640,235,720,
  250.7C800,267,880,277,960,272C1040,267,1120,245,1200,197.3C1280,
  149,1360,75,1400,37.3L1440,0L1440,320L1400,320C1360,320,1280,320,
  1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,
  320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,
  320L0,320Z">
  </path>
</svg>

<footer class="" style="background-color: #180e43">  
  <div class="row justify-content-around">
    <div class="colfoot">
      <p class="text-light text-center" style="font-family: 'Roboto'">Created by Group 14 - INIT</p>
    </div>
  </div>
</footer>

<!-- Akhir Footer -->

  </body>
</html>

<script>
  const button = document.getElementById("submit");
  button.addEventListener("click", (e) => {
    console.log("masuk");
    const meetBaru = {
      judul: document.getElementById("judulMeet").value,
      matkul: document.getElementById("matkulMeet").value,
      platform: document.getElementById("platformMeet").value,
      link: document.getElementById("linkMeet").value,
    };
    fetch("/api/tambahmeet", {
      method: "post",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(meetBaru),
    }).then(() => {
      location.href='/meet';
      
    });
  });
</script>

<style>
  

  .navbar-brand em {
    font-weight: bold;
    font-family: Kanit;
    font-style: normal;
    line-height: 90px;
    color: #bc5064;
  }

  .display-4 em {
    font-weight: bold;
    font-family: Kanit;
    font-style: normal;
    color: #bc5064;
  }

  .container-meet {
    width: 18vw;
    height: auto;
    padding: 10px;
    background-color: #180e43;
  }

  .button-meet {
    background-color: #bc5064;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.4vw;
    height: 3.2vw;
    width: 8vw;
    border-radius: 8vw;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    margin-top: 0.9vw;
    margin-bottom: 0.9vw;
    margin-left: auto;
    margin-right: auto;
  }

  .tombolbuat {
    background-color: #180e43;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 55px;
    width: 275px;
    font-size: 22px;
    border-radius: 12vw;
    font-family: "roboto", sans-serif;
    font-weight: bold;
  }
  body button:hover {
    transform: scale(1.08);
  }

  .judulmeet {
    text-align: center;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 1.9vw;
  }

  .matkulmeet {
    text-align: center;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 1vw;
  }
  .jammeet {
    text-align: center;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 0.8vw;
  }
  .lingkaran {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    display: block;
    margin: auto;
    margin-bottom: 0.9vw;
  }

  .box {
    width: 16vw;
    height: auto;
    background-color: white;
    border-radius: 2vw;
    padding-top: 1.4vw;
    padding-bottom: 0.1vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 16vw;
    height: 12vw;
    max-height: 14vw;
  }
</style>
